h1,h2{
	font-family: Montserrat;
}
h3,h4,h5,h6{
	font-family: Mada;
}

p{
	font-family: Mada;
	margin: 0;
}

body{
	margin: 10px;
	height: 100%;
	width: 100vw;
}

.home {
	width: 100%;
	height: 100vh;
	position: relative;
}

#zhangjiajie{
	height: 100vh;
	width: 100%;
}

#homeText {
	box-sizing: border-box;
	width: 900px;
	height: 500px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(130,130,130,0.6); 
}

#infoAccu {
	float: left;
	box-sizing: border-box;
	height: 93%;
	width: 42%;
	margin: 2%;
	padding: 1%;
	border-style: solid;
}

#homeImg {
	box-sizing: border-box;
	float: right;
	height: 44%;
	width: 50%;
	margin: 2%;
	padding: 1%;
}

#homeImg img{
	width: 100%;
	height: 100%;
	box-shadow: 5px 5px 5px rgba(34,34,34,0.7);

}

#afspraak {
	box-sizing: border-box;
	float: right;
	height: 41.60%;
	width: 50%;
	margin: 2%;
	padding: 1%;
	border-style: solid;

}

nav {
	z-index: 10;
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
	line-height: 50px;
	background-color: rgba(130,130,130,0.6);
	-webkit-transition: height .7s, line-height .7s;
	transition: height .7s, line-height .7s;
}

#logo {
	padding: 33.33px;
	margin-left: 75px;
	width: 425px;
	height: 33.33px;
}

#spacer{
	height: 50px;
}

#form-div {
    height: calc(100vh - 50px);
    width: 100%;
   	border: 2px solid green;
}
#questions{
	margin: 5% auto;
	align-items: center;
    height: 470px;
    width: 550px;
   	border: 1px solid blue;	
}
#questions h3{
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 140%;
	letter-spacing: 1px;
/*	border: 1px solid green;*/
	height: 5%;
}

/*these are hidden until the submit is succesful*/
#questions img{
	display: none;
	transform: translate(-50%, 0%);
	margin-left: 50%;
}
#questions h4{
	text-align: center;
	display: none;
	height: 30px;
	margin: 10px 0px;
/*	border: 1px blue solid;*/
}

/*this is the black line*/
hr{
	width: 100vw;
	background-color: black;
	margin-bottom: 20px;
	margin-left: 50%;
	transform: translate(-50%, -50%);
	border-color: #DEE5E4;
}

/*this is for de form questions styling*/
form{
	width: 100%;
	height: 77%;
	border: 1px solid red;
	vertical-align: middle;
}
.form{
	width: calc(100% - 40px);
	padding: 20px;
	margin-bottom: 1.7%;
	float: left;
	border: 1px yellow solid;
	background-color: #DEE5E4;
	border: none;
}
.form-not-correct{
	border: 2px solid #5B8981
}

.form:hover::-webkit-input-placeholder {
    color: #3D3D3D;
}
input:focus{
    outline: none;
    background-color: #D7E2E0;
}

form p{
	float: left;
	width: 7px;
/*	border: 1px green solid;*/
}

.form-lasttwo{
	width: 49.15%;
	box-sizing: border-box;
	padding: 40px 20px;	
}

#calendar{
	margin-right: 1.7%;
}

/*this styling all has to do with the submit button & form validation*/
#form-validation{	
	font-size: 80%;
}

#submit-button{
	display: flex;
	align-items: center;
	height: calc(100% - 5% - 20px - 80%);
	height: 10%;
}
button{
	margin: 0 auto;
	width: 220px;
	height: 36px;
	border-radius: 18px;
	background-color: #E2D027;
	border: 0px;
}
button:hover{
	background-color: #EAD647;
}

@media (max-width: 550px){
/*	#questions{
		width: 100%;
		padding: 0% 5%;
		height: 70vh;
	}
	.form-lasttwo{
		width: calc(100%);
		padding: 20px 20px;
		margin-bottom: 1.7%;
	}*/
}

.overOns {
	height: calc(100vh + 50px);
	width: 100%;
	background-color: #ffbf80;
}

.informatie {
	height: calc(100vh + 50px);
	width: 100%;
	background-color: #ffb3b3;
	display: flex;
	align-items: center;
}

.slider-box {
	width: 70%;
	margin: 0 auto;
}

.slider {
	text-align: center;
}

.slider img {
	margin: 0 auto;
	width: 700px;
	height: 450px;

}

.tarieven {
	height: calc(100vh + 50px);
	width: 100%;
	background-color: #3399ff;

}

.contact {
	height: calc(100vh + 50px);
	width: 100%;
	background-color: #e6ff99;
}

