/*-------------------------------------------- Website styling --------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

h1, h2 {
    font-family: Montserrat;
}

h3, h4, h5, h6 {
    font-family: Mada;
}

p {
    font-family: Pontano Sans;
    margin: 0;
    font-size: 15px;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
}
/*this is the black line*/
hr {
	width: 100vw;
	background-color: black;
	margin-bottom: 20px;
	margin-left: 50%;
	transform: translate(-50%, -50%);
	border-color: #DEE5E4;
}

/*-------------------------------------------- Home page --------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

.home {
	position: relative;
}

#wrapperBackground {
	display: flex;
	overflow: hidden;
	height: 100vh;
	width: 100%;
}

#caoBackground {
	margin: 0 auto;
	align-self: center;
}

#homeText {
	width: 55%;
	height: 500px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 150px;
	background-color: rgba(223, 230, 229, 0.8); 
}

#infoAccu {
	float: left;
	box-sizing: border-box;
	height: 93%;
	width: 42%;
	margin: 2%;
	padding: 2%;
}

#infoAccu h2 {
	font-size: 25px;
	margin: 0;
	padding-bottom: 10px;

}

#homeImg {
	box-sizing: border-box;
	float: right;
	height: 44%;
	width: 50%;
	margin: 2%;
	padding: 1%;
}

#homeImg img{
	width: 100%;
	height: 100%;
	box-shadow: 5px 5px 5px rgba(34,34,34,0.7);

}

#homeAfspraak {
	box-sizing: border-box;
	float: right;
	height: 41.60%;
	width: 50%;
	margin: 2%;
	padding: 1%;
	border-style: solid;

}

/*-------------------------------------------- Home page, NavBar ------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/


nav {
	z-index: 10;
	position: fixed;
	top: 0;
	height: 100px;
	width: 100vw;
	line-height: 50px;
	background-color: rgba(223, 230, 229, 0.8);
	-webkit-transition: height .7s, line-height .7s;
	transition: height .7s, line-height .7s;
	overflow: hidden;
}

#cao {
	height: 60px;
	width: 60px;
	padding: 20px;
	padding-right: 0px;
	margin-left: 100px;
	float: left;

}

#logo {
	padding: 33.33px;
	padding-left: 0px;
	width: 425px;
	height: 33.33px;
}

.scrolled-nav {
  height: 50px !important;
  line-height: 0px !important;
}


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-right: 100px;
	height: 100px;
	overflow: hidden;
}

nav li{
	float: right;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

nav li a {
	display: block;
	color: black;
	text-align: center;
	line-height: 100px;
	vertical-align: middle;
	width: 80px;
	text-decoration: none;
	-webkit-transition: line-height .6s;
	transition: height: line-height .6s;
}

.scrolled-list {
	line-height: 50px;
	height: 50px;
}


nav li a:hover {
    background-color: #AF0000;
    color: white;
}

/*-------------------------------------------- side nav-bar------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/




/*-------------------------------------------- Over ons page-----------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

.overOns {
	height: 100vh;
	width: 100%;
	background-color: #ffbf80;
}

/*-------------------------------------------- Informatie page --------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

.informatie {
	height: 100vh;
	width: 100%;
	background-color: #ffb3b3;
	margin: 0 auto;
	display: flex;
}

.slider-box {
	width: 70%;
	margin: 0 auto;
}

.slider {
	text-align: center;
}

.slider img {
	margin: 0 auto;
	width: 700px;
	height: 450px;

}

/*-------------------------------------------- Tarieven page ----------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

.tarieven {
	height: 100vh;
	width: 100%;
	background-color: #ffffff;

}

#page-div #pricing{
    width: 80%;
    height: 80%;
    margin: 0 auto;
   	border: 1px black solid;
}
#page-div #three-prices{
	height: 80%;
	width: 90%;
	margin: 0 auto;
	box-sizing: border-box;
/*	border: 1px blue solid;*/
	text-align: center;
}
#page-div #three-prices .price{
	float: left;
	box-sizing: border-box;
	margin: 2% 2%;
	width: 29.33%;
	height:  90%;
	padding: 4%;
	background-color: rgb(222,229,228);
/*		border: 1px blue solid;*/
}
#page-div #three-prices .price:hover{
	border: 2px solid #5B8981;
	padding: calc(4% - 2px);

}

#page-div #three-prices .price h4{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#page-div #three-prices .price h3{
	margin: 5% auto;
	font-size: 250%;
	align-items: center;
	height: 15%;
}
#page-div #three-prices .price p{
	padding: 5%;
	color: rgb(137,137,137);
}
#page-div #three-prices .price button{
	width: 100%;
	margin-top: 8%;
}

#pricing h3{
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 140%;
	letter-spacing: 1px;
	height: 5%;
}

.princing hr {
	width: 100vw;
	background-color: black;
	margin-bottom: 20px;
	margin-left: 50%;
	transform: translate(-50%, -50%);
	border-color: #DEE5E4;
}

#page-div {
    height: calc(100vh - 50px);
    width: 100%;
   	display: flex;
   	align-items: center;
}
.spacer{
	height:50px;
	width:100%;
}
/*-------------------------------------------- AFSPRAAK MAKEN ---------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

.afspraakMaken {
	height: 100vh;
	width: 100%;
	background-color: #ffffff;
}

.afspraakMaken h3 {
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 140%;
	letter-spacing: 1px;
	height: 5%;
}

#page-div #questions{
	margin: 0 auto;
	align-items: center;
    height: 470px;
    width: 550px;
}
/*these are hidden until the submit is succesful*/
#questions img{
	display: none;
	transform: translate(-50%, 0%);
	margin-left: 50%;
}

#questions hr {
	width: 100vw;
	background-color: black;
	margin-bottom: 20px;
	margin-left: 50%;
	transform: translate(-50%, -50%);
	border-color: #DEE5E4;
}

#questions h4{
	text-align: center;
	display: none;
	height: 30px;
	margin: 10px 0px;
}
/*this is for de form questions styling*/
form{
	width: 100%;
	height: 77%;
	vertical-align: middle;
}

.form{
	width: calc(100% - 40px);
	padding: 20px;
	margin-bottom: 1.7%;
	float: left;
	background-color: #DEE5E4;
	border: none;
}
.form-not-correct{
	border: 2px solid #5B8981
}

.form:hover::-webkit-input-placeholder {
    color: #3D3D3D;
}
input:focus{
    outline: none;
    background-color: #D7E2E0;
}

form p{
	float: left;
	width: 7px;
}

.form-lasttwo{
	width: 49.15%;
	box-sizing: border-box;
	padding: 40px 20px;	
}

#calendar{
	margin-right: 1.7%;
}

/*this styling all has to do with the submit button & form validation*/
#form-validation{	
	font-size: 80%;
}

#submit-button{
	display: flex;
	align-items: center;
	height: calc(100% - 5% - 20px - 80%);
	height: 10%;
}
button{
	margin: 0 auto;
	width: 220px;
	height: 36px;
	border-radius: 18px;
	background-color: #E2D027;
	border: 0px;
}
button:hover{
	background-color: #EAD647;
}

/*------------------------------------------ NEWSLETTER POP-UP --------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

.pop-up#front{
	z-index: 100;
	position: fixed;
	z-index: 100;
	top: 50%;
	left: -70%;
	width: 550px;
	height: 90vh;
	transform: translate(-50%, -50%);
	background-color: rgba(222,229,228,0.9);
	text-align: center;
	box-shadow: 2px 2px 15px #888888;
}
.pop-up#back{
	display: none;
	z-index: 99;
	position: fixed;
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	height: 100vh;
}
.pop-up #wrapper{
	height: 60%;
	overflow: hidden;
	display: flex;
}
.pop-up #wrapper img#cross{
	position: absolute;
	padding: 10px;
}
.pop-up #wrapper img#scenery{
	margin: 0 auto;
	align-self: center;
}
.pop-up #wrapper h3{
	margin: 0 auto;
	padding: 10px 30px;
	font-size: 150%;
	left: 50%;
	align-self: center;
	transform: translate(-50%,-50%);
	position: absolute;
	background-color: rgba(255,255,255,0.8);
}
.pop-up #wrapper2{
	height: 40%;
/*	border: 2px orange solid;*/
}
.pop-up #wrapper2 #main-text{
	box-sizing: border-box;
	height: 60%;
	padding: 5% 40px;
/*	padding: 40px;*/
/*	border: 1px blue solid;*/
}
.pop-up #button{
/*	border: 1px blue solid;*/
	margin-bottom: 5%;
}
.pop-up #subscribe{
	margin: 0 auto;
	box-sizing: border-box;
	height: 40%;
	width: 40%;
}
.pop-up #subscribe #no-thanks-text{
	width: 30%;
	margin: 0 auto;
	box-sizing: border-box;
	font-size: 75%;
	text-decoration: underline;
/*	border: 1px blue solid;*/
}

/*-------------------------------------------- Contact page -----------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

.contact {
	height: 100vh;
	width: 100%;
	background-color: #e6ff99;
}

/*--------------------------------------------- MEDIA QUERIES ---------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

@media all and (max-width: 700px){

/*	#questions{
		box-sizing: border-box;
		margin: 0 2%;
		width: 95%;
	}
*/


